nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}
nav div a:first-of-type {
  color: #543ee0;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}
.navlinks {
  display: flex;
  gap: 24px;
}
.navlinks a,
.navlinks a:first-of-type {
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
}
nav div:last-of-type button:first-of-type {
  border: 1px solid #543ee0;
  width: 157px;
  height: 56px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
}
nav div:last-of-type button:last-of-type {
  width: 157px;
  height: 56px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  background-color: #543ee0;
  color: white;
}
nav div:last-of-type {
  display: flex;
  gap: 24px;
}
.chatter-home {
  background: #0000008c
    url("./assets/chatter.jpg");
  background-size: cover;
  display: flex;
  padding: 200px;
  align-items: center;
  justify-content: center ;
  color: white;
  margin-bottom: 48px;
}
.chatter-home button{
  background-color: rgba(84, 62, 224, 1);
  border: 0px;
  width: 157px;
height: 56px;
padding: 8px, 16px, 8px, 16px;
border-radius: 8px;
gap: 8px;
color: white;
text-align: center;
}
.chatter-home h1{
  font-size: 48px;
}
.chatter-home p{
  font-size: 24px;
}
.about{
  display: flex;
  align-items: top; 
  justify-content: space-evenly;
  gap: 64px;
  margin-bottom: 72px;
}
.about h2{
  text-decoration: bold;
  font-weight: 700;
  font-size:48px;
line-height: 72px;
letter-spacing: 0em;
text-align: left;

}
.about p{
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}
.about img {
  width: 500px;
height: 404px;
border-radius: 8px;

}
.why-chatter-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.why-chatter{
  flex-basis: 25%;
padding: 15px  18px 15px 18px;
border-radius: 8px;
border: 1px solid rgba(208, 208, 208, 1);

}
.why-chatter div{
  background-color: rgba(214, 209, 248, 0.2);
  width: 48px;
  border-radius: 50%;
  padding: 20px;
text-align: center;
}
.why-chatter div span{
  height: auto;
  max-width: 100%;
}